    @media all and (min-width:300px) and (max-width:500px) {
    #Catalogo {
        border: 3px solid;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #Catalogo #Encabezado {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10%;
    }

    #Encabezado #Botones {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30%;
    }

    #Botones .Primarios {
        width: 25%;
        height: 100%;
    }

    #Encabezado #Titulo {
        height: 40%;
        width: 100%;
    }
    #Titulo p{
        font-weight: bold;
        text-align: center;
        font-size: 100%;

    }
    

    #Encabezado #Logo {
        width: 100%;
        height: 30%;
        
    }

    #Logo img {
        width: 100%;
        height: 100%;
        
    }


    /*-------------------------------------------------------------------------------------------------------------------------------------*/

    #Catalogo #Contenido {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid;
    }


    #Contenido #Izquierda {
        height: 50%;
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
    }

    #Izquierda iframe {
        width: 100%;
        
    }

    #Izquierda #Botones {
        display: flex;
        flex-direction: column;

    }

    #Botones .Secundarios {
        width: 100%;
        height: 100%;

    }

    #Contenido #Derecha {
        width: 98%;
        height: 50%;
        overflow: scroll;   
        border: 4px solid black;

    }

    #Derecha #Botones {
        width: 100%;
        height: 8%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #Botones .SecundariosFin {
        width: 19.5%;
        height: 100%;
    }

    #Derecha #TitCatalogo {
        width: 100%;
        height: 10%;
        border-bottom: 1px solid;
    }

    #TitCatalogo h2 {
        text-align: center;
    }

    #Derecha #Seleccion {
        overflow: scroll;
        height: 77%;
        display: flex;
        flex-direction: column;
    }

    #Seleccion #Tabla {
        border: 2px solid;
        width: 45%;
        height: 140%;
        margin-top: 2%;
    }

    #Tabla td {
        border: 2px solid;
    }

    #Seleccion #Boton {
        width: 40%;
        margin-top: 1%;
        position: relative;
        left: 27.5%;

    }

    /*---------------------------------------------------------------------------------*/
    #Catalogo #Pie {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1%;
        padding-right: 1%;
        background-color: rgb(44, 44, 44);
    }

    #Pie p {
        color: hwb(33 83% 0%);
    }

    #Pie #Botones {
        height: 100%;
        position: relative;
    }

    #Botones .Terciarios {
        position: relative;
        top: 40%;
    }
}